<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisedoo.bd.dao.UserPasswordDOMapper">
    <resultMap id="BaseResultMap" type="com.wisedoo.bd.dataobject.UserPasswordDO">
        <id column="pk_user_password" jdbcType="VARCHAR" property="pkUserPassword"/>
        <result column="pk_user" jdbcType="VARCHAR" property="pkUser"/>
        <result column="encrpt_password" jdbcType="VARCHAR" property="encrptPassword"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creationtime" jdbcType="TIMESTAMP" property="creationtime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifiedtime" jdbcType="TIMESTAMP" property="modifiedtime"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
        <result column="dr" jdbcType="BIT" property="dr"/>
    </resultMap>
    <sql id="Base_Column_List">
        pk_user_password, pk_user, encrpt_password, creator, creationtime, modifier, modifiedtime,
        ts, dr
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bd_user_password
        where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from bd_user_password
        where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        <selectKey keyProperty="pkUserPassword" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into bd_user_password (pk_user_password, pk_user, encrpt_password,
        creator, creationtime, modifier,
        modifiedtime, ts, dr
        )
        values (#{pkUserPassword,jdbcType=VARCHAR}, #{pkUser,jdbcType=VARCHAR}, #{encrptPassword,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{creationtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
        #{modifiedtime,jdbcType=TIMESTAMP}, #{ts,jdbcType=TIMESTAMP}, #{dr,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        <selectKey keyProperty="pkUserPassword" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into bd_user_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkUserPassword != null">
                pk_user_password,
            </if>
            <if test="pkUser != null">
                pk_user,
            </if>
            <if test="encrptPassword != null">
                encrpt_password,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creationtime != null">
                creationtime,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifiedtime != null">
                modifiedtime,
            </if>
            <if test="ts != null">
                ts,
            </if>
            <if test="dr != null">
                dr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkUserPassword != null">
                #{pkUserPassword,jdbcType=VARCHAR},
            </if>
            <if test="pkUser != null">
                #{pkUser,jdbcType=VARCHAR},
            </if>
            <if test="encrptPassword != null">
                #{encrptPassword,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationtime != null">
                #{creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedtime != null">
                #{modifiedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        update bd_user_password
        <set>
            <if test="pkUser != null">
                pk_user = #{pkUser,jdbcType=VARCHAR},
            </if>
            <if test="encrptPassword != null">
                encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationtime != null">
                creationtime = #{creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedtime != null">
                modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                ts = #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=BIT},
            </if>
        </set>
        where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        update bd_user_password
        set pk_user = #{pkUser,jdbcType=VARCHAR},
        encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
        creator = #{creator,jdbcType=VARCHAR},
        creationtime = #{creationtime,jdbcType=TIMESTAMP},
        modifier = #{modifier,jdbcType=VARCHAR},
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
        ts = #{ts,jdbcType=TIMESTAMP},
        dr = #{dr,jdbcType=BIT}
        where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
    </update>
    <resultMap id="BaseResultMap" type="com.wisedoo.bd.dataobject.UserPasswordDO">
        <id column="pk_user_password" jdbcType="VARCHAR" property="pkUserPassword"/>
        <result column="pk_user" jdbcType="VARCHAR" property="pkUser"/>
        <result column="encrpt_password" jdbcType="VARCHAR" property="encrptPassword"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creationtime" jdbcType="TIMESTAMP" property="creationtime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifiedtime" jdbcType="TIMESTAMP" property="modifiedtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    pk_user_password, pk_user, encrpt_password, creator, creationtime, modifier, modifiedtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bd_user_password
        where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bd_user_password
    where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        <selectKey keyProperty="pkUserPassword" order="BEFORE" resultType="string">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into bd_user_password (pk_user_password, pk_user, encrpt_password,
        creator, creationtime, modifier,
        modifiedtime)
        values (#{pkUserPassword,jdbcType=VARCHAR}, #{pkUser,jdbcType=VARCHAR}, #{encrptPassword,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{creationtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
        #{modifiedtime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        <selectKey keyProperty="pkUserPassword" order="BEFORE" resultType="string">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into bd_user_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkUserPassword != null">
                pk_user_password,
            </if>
            <if test="pkUser != null">
                pk_user,
            </if>
            <if test="encrptPassword != null">
                encrpt_password,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creationtime != null">
                creationtime,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifiedtime != null">
                modifiedtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkUserPassword != null">
                #{pkUserPassword,jdbcType=VARCHAR},
            </if>
            <if test="pkUser != null">
                #{pkUser,jdbcType=VARCHAR},
            </if>
            <if test="encrptPassword != null">
                #{encrptPassword,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationtime != null">
                #{creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedtime != null">
                #{modifiedtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
        update bd_user_password
        <set>
            <if test="pkUser != null">
                pk_user = #{pkUser,jdbcType=VARCHAR},
            </if>
            <if test="encrptPassword != null">
                encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationtime != null">
                creationtime = #{creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedtime != null">
                modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                ts = #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=BIT},
            </if>
        </set>
        where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisedoo.bd.dataobject.UserPasswordDO">
    update bd_user_password
    set pk_user = #{pkUser,jdbcType=VARCHAR},
      encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creationtime = #{creationtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=BIT}
    where pk_user_password = #{pkUserPassword,jdbcType=VARCHAR}
  </update>
</mapper>